<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="../assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../public/style.css">
  <title>Foodfy</title>
</head>

<body>

  <div class="page">

    <header>
      <div class="logo">
        <a href="./index.html"><img src="../assets/logo.png" alt="logo"></a>
      </div>
      <a class="menu" href="./about.html">Sobre</a>
      <a class="menu" href="./recipes.html">Receitas</a>
    </header>

    <section class="banner">
      <div class="content">
        <h1>As Melhores Receitas</h1>
        <p>Aprenda a construir os melhores
          pratos com receitas criadas por profissionais
          do mundo inteiro.
        </p>
      </div>
      <div class="chefpng">
        <img src="../assets/chef.png" alt="chef">
      </div>

    </section>

    <main>
      <div class="main-title">
        <h1>Mais acessados</h1>
      </div>
      <div class="cards">
        <div class="card">
          <img src="../assets/burger.png" alt="">
          <div class="content">
            <h3>Triplo bacon burger</h3>
            <h4>por Jorge Relato</h4>
          </div>
        </div>
        <div class="card">
          <img src="../assets/pizza.png" alt="">
          <div class="content">
          <h3>Pizza 4 estações</h3>
          <h4>por Fabiana Melo</h4>
          </div>
        </div>
        <div class="card">
          <img src="../assets/espaguete.png" alt="">
          <div class="content">
          <h3>Espaguete ao alho</h3>
          <h4>por Júlia Kinoto</h4>
          </div>
        </div>
        <div class="card">
          <img src="../assets/lasanha.png" alt="">
          <div class="content">
          <h3>Lasanha mac n’ cheese</h3>
          <h4>por Juliano Vieira</h4>
          </div>
        </div>
        <div class="card">
          <img src="../assets/doce.png" alt="">
          <div class="content">
          <h3>Docinhos pão-do-céu</h3>
          <h4>por Ricardo Golvea</h4>
          </div>
        </div>
        <div class="card">
          <img src="../assets/asinhas.png" alt="">
          <div class="content">
          <h3>Asinhas de frango ao barbecue</h3>
          <h4>por Vania Steroski</h4>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

  </div>


</body>

</html>